nav {
    width: 100%;
    top: 0;

    .nav {
        padding: 20px 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-weight: 400;

        ul {
            display: flex;
            gap: 50px;

            a {
                color: gray;
            }

            li:hover a {
                color: red;
            }
        }

        .addBtn {
            // border: 1px solid black;
            border-radius: 5px;
            padding: 10px 30px;
            background-color: red;
            color: white;
        }
    }
}

a {
    color: white;
}